<template>
  <div>
    <nav id="navbar" class="navbar has-shadow is-spaced">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            Onliner-bugs
          </a>
        </div>

        <div id="navMenuDocumentation" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped is-grouped-multiline">
                <p class="control">
                  <b>{{currentUser.name}}</b> ({{currentUser.email}})
                </p>
                <p class="control">
                  <a @click="onLogout">
                    Выйти
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <br>
      <router-view/>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    computed: {
      ...mapState('auth', {
        currentUser: 'currentUser',
      }),
    },

    methods: {
      onLogout() {
        this.$store.dispatch('auth/logout');
        this.$router.push({ name: 'login' });
      },
    },
  }
</script>
