<template>
  <div class="modal"
       :class="{'is-active': isOpened}">
    <form @submit.prevent="onFormSubmit">
      <div class="modal-background" @click="onClose"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Добавить задачу</p>
          <button type="button" class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Имя задачи</label>
            <div class="control">
              <input class="input"
                     :class="{'is-danger': errors.name}"
                     type="text"
                     placeholder="Имя задачи"
                     v-model="data.name">
            </div>

            <p class="help is-danger"
               v-if="errors.name">
              {{errors.name}}
            </p>
          </div>

          <div class="field">
            <label class="label">Список</label>
            <div class="select is-fullwidth">
              <select v-model="data.list_id">

                <option value="">
                  Выберите список
                </option>

                <option v-for="option in lists" v-bind:value="option.id">
                  {{ option.name }}
                </option>
              </select>
            </div>
            <p class="help is-danger"
               v-if="errors.description">
              {{errors.description}}
            </p>
          </div>

          <div class="field">
            <label class="label">Описание</label>
            <textarea class="textarea" placeholder="Описание" rows="5" v-model="data.description"></textarea>

            <p class="help is-danger"
               v-if="errors.description">
              {{errors.description}}
            </p>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Сохранить</button>
          <button type="button" class="button" @click="onClose">Отмена</button>
        </footer>
      </div>
    </form>
  </div>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    created() {
      this.$root.$on('edit-task-model:show', async () => {
        await this.updateLists();
        this.isOpened = true;
      });
    },

    computed: {
      ...mapState('lists', {
        lists: 'lists',
      }),
    },

    data() {
      return {
        data: {
          name: '',
          list_id: '',
          description: null
        },

        isOpened: false,

        isLoading: false,

        isVisibleErrorMessage: false,

        errorMessage: '',

        errors: {},
      }
    },

    methods: {
      async updateLists() {
        try {
          await this.$store.dispatch('lists/getLists');
        } catch (error) {
        }
      },

      clearErrors() {
        this.errors = {};
        this.errorMessage = '';
      },

      onClose() {
        this.isOpened = false;
      },

      async onFormSubmit() {
        if (this.isLoading) {
          return;
        }

        this.clearErrors();
        this.isLoading = true;

        try {
          await this.$store.dispatch('tasks/postTask', this.data);
          this.isOpened = false;
        } catch (error) {
          const status = error.response.status;

          if (status === 422) {
            this.errors = error.response.data.errors;
          }

          if (status === 403) {
            this.errorMessage = error.response.data.errorMessage;
          }
        }

        this.isLoading = false;
      },
    }
  }
</script>
