<template>
  <div class="modal"
       :class="{'is-active': isOpened}">
    <form @submit.prevent="onFormSubmit">
      <div class="modal-background" @click="onClose"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Добавить задачу</p>
          <button type="button" class="delete" aria-label="close"
                  @click="onClose"></button>
        </header>
        <section class="modal-card-body">
          <div class="field">
            <label class="label">Имя списка</label>
            <div class="control">
              <input class="input"
                     :class="{'is-danger': errors.name}"
                     type="text"
                     placeholder="Имя задачи"
                     v-model="data.name">
            </div>

            <p class="help is-danger"
               v-if="errors.name">
              {{errors.name}}
            </p>
          </div>

        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Сохранить</button>
          <button type="button" class="button" @click="onClose">Отмена</button>
        </footer>
      </div>
    </form>
  </div>
</template>

<script>
  export default {
    created() {
      this.$root.$on('edit-list-model:show', () => {
        this.isOpened = true;
      });
    },

    data() {
      return {
        data: {
          name: '',
        },

        isOpened: false,

        isLoading: false,

        errorMessage: '',

        errors: {},
      }
    },

    methods: {
      clearErrors() {
        this.errors = {};
        this.errorMessage = '';
      },

      onClose() {
        this.isOpened = false;
      },

      async onFormSubmit() {
        if (this.isLoading) {
          return;
        }

        this.clearErrors();
        this.isLoading = true;

        try {
          await this.$store.dispatch('lists/postList', this.data);
          this.isOpened = false;
        } catch (error) {
          const status = error.response.status;

          if (status === 422) {
            this.errors = error.response.data.errors;
          }

          if (status === 403) {
            this.errorMessage = error.response.data.errorMessage;
          }
        }

        this.isLoading = false;
      },
    }
  }
</script>
