<template>
  <div class="columns is-centered">
    <div class="column is-6">

      <div class="card">
        <div class="card-content">
          <h4 class="title is-4">
            {{listName}}
          </h4>

          <div v-for="item in listTasks">
            <Task :task-data="item"></Task>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import Task from '@/components/parts/Task'

  export default {
    props: {
      listName: {
      },
      listTasks: {
      },
    },

    data() {
      return {
      }
    },

    components: {
      Task
    }
  }
</script>
