<template>
  <div>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{taskData.name}}
        </p>
      </header>
      <div class="card-content">
        <div class="content">
          <span class="tag is-success is-right"
          v-if="taskData.is_complete">Готова</span>

          <p v-html="taskData.description"></p>
        </div>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item"
           v-if="!taskData.is_complete"
           @click="onComplete">Завершить</a>
        <a href="#" class="card-footer-item"
           @click="onDelete">Удалить</a>
      </footer>
    </div>
    <br>
  </div>
</template>

<script>
  import Noty from 'noty';

  export default {
    props: {
      taskData: {
        type: Object,
        required: true,
      },
    },

    data() {
      return {
      }
    },

    methods: {
      async onComplete() {
        try {
          await this.$store.dispatch('tasks/complete', {
            id: this.taskData.id
          });
        } catch (error) {
          new Noty({
            theme: 'sunset',
            type: 'error',
            timeout: 3000,
            text: error.response.data.errorMessage
          }).show();
        }
      },

      async onDelete() {
        try {
          await this.$store.dispatch('tasks/deleteTask', {
            id: this.taskData.id
          });
        } catch (error) {
          new Noty({
            theme: 'sunset',
            type: 'error',
            timeout: 3000,
            text: error.response.data.errorMessage
          }).show();
        }
      },
    }
  }
</script>
