<template>
  <div>
    <div class="columns is-centered">
      <div class="column is-6">
        <a class="button is-link"
           @click="onOpenCreateTask">Добавить задачу</a>
        <a class="button is-info"
           @click="onOpenCreateList">Добавить список</a>
      </div>
    </div>

    <div v-for="item in tasks.lists_tasks">
      <List v-if="item.tasks.length"
            :list-name="item.name"
            :list-tasks="item.tasks"></List>
    </div>

    <div v-if="tasks.tasks_without_list && tasks.tasks_without_list.length">
      <List list-name="Задачи без списка"
            :list-tasks="tasks.tasks_without_list"></List>
    </div>

    <EditTaskModal></EditTaskModal>
    <EditListModal></EditListModal>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import List from '@/components/parts/List'
  import EditTaskModal from '@/components/parts/EditTaskModal'
  import EditListModal from '@/components/parts/EditListModal'

  export default {
    created() {
      this.updateTasks();
    },

    computed: {
      ...mapState('tasks', {
        tasks: 'tasks',
      }),
    },

    data() {
      return {
      }
    },

    methods: {
      async updateTasks() {
        try {
          await this.$store.dispatch('tasks/getTasks');
        } catch (error) {
        }
      },

      onOpenCreateTask() {
        this.$root.$emit('edit-task-model:show');
      },

      onOpenCreateList() {
        this.$root.$emit('edit-list-model:show');
      }
    },

    components: {
      List,
      EditTaskModal,
      EditListModal,
    }
  }
</script>
