<template>
  <div>
    <div class="columns is-mobile is-centered">
      <div class="column is-two-fifths auth-form">
        <div class="card">
          <div class="card-content">
            <form @submit.prevent="onFormSubmit">
              <div class="field">
                <label class="label">E-mail</label>
                <div class="control">
                  <input class="input"
                         :class="{'is-danger': errors.email || errorMessage}"
                         type="text"
                         placeholder="E-mail"
                         v-model="data.email">
                </div>

                <p class="help is-danger"
                   v-if="errors.email">
                  {{errors.email}}
                </p>

                <p class="help is-danger"
                   v-if="!errors.email">
                  {{errorMessage}}
                </p>
              </div>

              <div class="field">
                <label class="label">Имя</label>
                <div class="control">
                  <input class="input"
                         :class="{'is-danger': errors.name}"
                         type="text"
                         placeholder="Имя"
                         v-model="data.name">
                </div>

                <p class="help is-danger"
                   v-if="errors.name">
                  {{errors.name}}
                </p>
              </div>

              <div class="field">
                <label class="label">Пароль</label>
                <div class="control">
                  <input class="input"
                         :class="{'is-danger': errors.password}"
                         type="password"
                         placeholder="Пароль"
                         v-model="data.password">
                </div>

                <p class="help is-danger"
                   v-if="errors.password">
                  {{errors.password}}
                </p>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Регистрация</button>
                </div>
                <div class="control">
                  <a class="button is-text">Уже зарегистрированы?</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        data: {
          email: '',
          name: '',
          password: ''
        },

        isLoading: false,

        isVisibleErrorMessage: false,

        errorMessage: '',

        errors: {},
      }
    },

    methods: {
      clearErrors() {
        this.errors = {};
        this.errorMessage = '';
      },

      async onFormSubmit() {
        if (this.isLoading) {
          return;
        }

        this.clearErrors();

        this.$root.$emit('page-progress:start');
        this.isLoading = true;

        try {
          await this.$store.dispatch('auth/registration', this.data);
          this.$router.push({ name: 'main' });
        } catch (error) {
          const status = error.response.status;

          if (status === 422) {
            this.errors = error.response.data.errors;
          }

          if (status === 403) {
            this.errorMessage = error.response.data.errorMessage;
          }
        }

        this.$root.$emit('page-progress:end');
        this.isLoading = false;
      },
    }
  }
</script>
